:root {
    --main-text-color: #212121;
    --hover-color: #2196F3;
    --contacts-color: #757575;
    --secondary-text-color: #FFFFFF;
}

body {
    font-family: Roboto, Arial, Verdana sans-serif;
    color: var(--main-text-color);
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    text-decoration: none;
    color: var(--main-text-color);
    font-weight: 700;
    line-height: 1.2;
}

.logo.secondary{
    color: var(--hover-color);
}

.site-nav .link {
    text-decoration: none;
    color: var(--main-text-color);
    font-weight: 500;
}

.site-nav .link:hover,
.site-nav .link:focus   {
    color: var(--hover-color);
}

.site-nav .link.current {
    color: var(--hover-color);
}

.site-nav {
    font-size: 14px;
    line-height: 1.1;
}

.site-current {
    color: var(--hover-color);
}

.contact {
    color: var(--contacts-color);
    text-decoration: none;
    font-weight: 500;
}

.contact:hover,
.contact:focus {
    color: var(--hover-color);
}

.contacts {
    font-size: 14px;
    line-height: 1.1;
    font-style: normal;
}

.contacts.footer {
    line-height: 1.7;
}

.site-hero h1 {
    font-size: 44px;
    color: var(--secondary-text-color);
    font-weight: 900;
    line-height: 1.4;
}

.site-hero button {
    font-size: 16px;
    line-height: 1.9;
    font-family: 'Roboto', sans-serif;
    color: var(--secondary-text-color);
    font-weight: 700;
    cursor: pointer;
    background-color: var(--hover-color);
}

.company-benefits h3,
.company-benefits p {
    font-size: 14px;
}

.company-benefits h3 {
    font-weight: 700;
    line-height: 1.1;
}

.company-benefits p {
    color: var(--contacts-color);
    line-height: 1.7;
}

.company-work h2 {
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
}

.company-team p,
.company-team h3 {
    font-size: 16px;
    line-height: 1.2;
}

.company-team h3 {
    font-weight: 500;
}

.company-team p {
    color: var(--contacts-color);
}

.company-team h2 {
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
}

.contact.address {
    color: var(--secondary-text-color);
}

.contact.address:hover,
.contact.address:focus {
    color: var(--hover-color);
}

.filter button:hover,
.filter button:focus {
    background-color: var(--hover-color);
    color: var(--secondary-text-color);
}

.filter button {
    background-color: #F5F4FA;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.portfolio h3 {
    font-size: 18px;
    line-height: 2;
    font-weight: 700;
}

.portfolio p {
    font-size: 16px;
    line-height: 1.8;
    color: var(--contacts-color);
}